@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-night-900 text-ink-100 font-sans;
    overscroll-behavior: none;
    touch-action: manipulation;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body,
  #root {
    @apply h-full w-full;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-popcorn text-night-900 rounded-lg font-bold hover:opacity-90 active:scale-95 transition-all;
  }

  .card-dark {
    @apply bg-black/40 rounded-2xl border border-white/5 shadow-2xl;
  }
}
